@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: auto;
  scrollbar-color: #c0c0c0 white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative
}

:root{
  --neutral: #fff;
  --default: #1f1f1f;
  --default-inverse: #c;
  --secondary: #3b3b3b;
  --secondary-inverse: #c7c7c7;
  --tertiary: #575757;
  --tertiary-inverse: #bebebe;
}